@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'QuickSand';
  color: #333;
  background-color: #8FBDD3;
}

.navbar {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 3px;
  display: flex;
}

.navbar h1{
  color: #A97155;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #A97155;
}
