@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'QuickSand';
  color: #333;
  background-color: #8FBDD3;
}

/* navbar styles */
.navbar {
  padding: 20px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
}

.navbar h1{
  color: #A97155;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #A97155;
}

/* sing pages styles */
.sign {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
.sign h2{
  padding-bottom: 10px;
}
.sign a{
  text-decoration: none;
}
.sign a:hover{
  color: #A97155;
}
.sign p{
  margin-top: 10px;
}
.sign label{
  padding: 5px 5px;
  display: block;
  text-align: left;
}
.sign input{
  background-color: #E4D1B9;
  border: 0;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.sign button{
  background-color: #A97155;
  color: #E4D1B9;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}
.sign form p{
  font-size: 14px;
}
.sign .error{
  color: red;
  font-weight: bold;
  margin-top: 0;
  text-align: start;
}
.sign input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  appearance: none;
}

/* home page styles */
.home {
  max-width: 600px;
  margin: 0 auto;
  text-align: end;
}
.home h2{
  text-align: center;
}
.home div{
  width: 30%;
  float: left;
  margin: 10px 10%;
  text-align: start;
}
.home div h3{
  text-align: center;
}
.home input, select, option{
  background-color: #E4D1B9;
  border: 0;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 5px;
}
.home button{
  background-color: #A97155;
  color: #E4D1B9;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  margin-top: 21px;
  display: block;
}
.home .error{
  color: red;
  font-weight: bold;
  margin-top: 0;
  font-size: 8;
}

/* Flights page styles */
.flights {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.flights .no-flights {
  text-align: start;
}
.flights a{
  text-decoration: none;
  font-weight: bold;
}
.flights a:hover {
  color: #A97155;
}
.flights .flightCard{
  text-align: start;
  border: 2px solid #E4D1B9;
  border-radius: 10px;
  margin: 20px 0;
}
.flights .flightCard:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.flights .flightCard div{
  width: 27%;
  text-align: start;
  display: inline-table;
  padding: 10px 16px;
  margin: 20px 0;
}

.flights p{
  font-size: 10px;
  font-weight: light;
}
.flights a{
  text-decoration: none;
}
.flights .flightCard h3{
  text-align: center;
}